.projetos {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Reduz a largura para telas menores */
  width: 100%; /* Ocupa toda a largura disponível */
  padding-left: 2rem;
  text-align: center;
}
.projetos h2 {
  text-align: start;
  margin-right: auto;
}
/* Estilos gerais que se aplicam a todas as telas */
.nome_projetos h3 {
  text-align: center;
  margin-right: auto;
  border-bottom: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .5s, ease 0.5s;
}

.nome_projetos :hover{
    transform: scale(1.1);
  }

/* Consulta de mídia para telas menores, por exemplo, telas com largura máxima de 768px */
@media (max-width: 768px) {
  .projetos h3 {
    padding-left: 1rem; /* Reduz o padding para telas menores */
  }

  .nome_projetos {
    width: 100%; /* Define a largura para 100% para ocupar toda a largura disponível */
  }
}
